html {
    font-size: 20px;
}

body {
    background-color: #8a2be2;
    color: #daa520;
}

a {
    color: #403f3c;
}

a:visited {
    color: #371f76;
}

a:hover {
    color: #e88b43;
}

table, tr, th, td, caption {
    border: 8px solid #2f4f4f;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}